{% for interface in interfaces %}
  interface {{interface['name']}}
    description {{interface['desc']}}
    ip address {{interface['ip_address']}}
    ip ospf {{ospf_process}} area {{ospf_area}}
    no shutdown
{% endfor %} #}

{% for vl in vlans %}
  interface vlan {{vl['name']}}
    description {{vl['desc']}}
    ip address {{vl['ip_address']}}
    ip ospf {{ospf_process}} area {{ospf_area}}
    no shutdown
{% endfor %} #}

{% for int in interfaces_trunk %}
  interface {{int['name']}}
    description {{in['desc']}}
    switchport mode {{int['mode']}}
    {% for vl in int['allowed_vlans'] %}
      switchport trunk allowed vlan add {{vl['id']}}
    {% endfor %}
!
{% endfor %}

ip routing
router ospf {{ospf_process}}
  router-id {{router_id}}
  {% for net in net_ospf %}
    network {{net['net']}} {{net['wildcard']}} area {{ospf_area}}
    