
{% for int in interfaces_trunk %}
interface {{int['name']}}
  switchport trunk encapsulation dot1q
  switchport mode {{int['mode']}}
{% endfor %}


{% for int in interfaces_access %}
interface {{int['name']}}
  switchport mode {{int['mode']}}
  switchport access vlan {{int['allowed_vlans']}}
  
{% endfor %}